*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cabin', sans-serif;
}

/*CSS For Header*/

header{
	height: 110vh;
	background: url(../images/1.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	margin: 0 20px;
	color: white;

}

/*Styling for all buttons*/
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	color: black;
	background-color: #adaaaa;
	font-weight: bold;
}

.btn-product {
	background-color: #adaaaa;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

#learn-more {
	background-color: #adaaaa;
	color: black;
	font-size: 15px;
}


#cartBtn {
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .3s;
}

#cartBtn:hover {
	top: 15px;
}

/*Disappearing Menu CSS*/
.submenu {
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display:flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
	color: black;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}



.submenu > div {
	width: 25%;
}

div + div {
	border-left: 1px solid whitesmoke;
}

.submenu > div > h4, .submenu > div > p {
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover {
	background-color: darkgray;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;	
}

.header-text > h1 {
	font-size: 70px;
}

.header-text > h1, .header-text > p ,.header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

/*End CSS for Header*/

/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

/*End of Quote CSS*/

/*Start of Section3 CSS*/
.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3 > section {
	width:50%;
}

.section3-left{
	text-align: right;
}

.section3 img {
	width: 550px;
	height: 300px;
}

.section3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div {
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.section3-right > div > div > h3 {
	font-size: 30px;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 45;
}

.bottom-content > div > h5 {
	font-style: italic;
	margin-bottom: 15px;
	margin-top: 15px;
}

.bottom-content > div > h1 > span {
	font-size: 15;
	position: relative;
	bottom: 20px;
}

.bottom-content > div > p {
	font-size: 12;
	color: gray;
}
/*End of Section 3 CSS*/


/*Footer & Testimonial*/

.testi-desc{
	height: 100vh;
	text-align: center;
	padding-top: 100px;
	border-bottom: 1px solid whitesmoke;
}

.testi-area{
	height: 80%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	position: relative;
	bottom: 90px;
	transition: 0.2s;
	margin-top: 40px;
}

.testi-box > .testi-text{
	padding: 25px;
}

.testi-box > .testi-img > img{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: relative;
	z-index: 1;
	bottom: 23px;
}

.testi-box > .testi-img > h1{
	position: relative;
	bottom: 25px;
}

.testi-box > .testi-img{
	text-align: center;
}

.testi-box > hr{
	border-top: 1px solid darkgrey;
}

.testi-desc > .testi-area > .testi-box{
	border: 1px solid darkgrey;
	width: 250px;
	height: 270px;
	margin: 20px;
	position: relative;
}

.testi-box:hover {
	box-shadow: 0px 80px 53px -75px rgba(0,0,0,0.75);
	bottom: 8px;
	transition: 0.2s;
}